body {
    background-color: #ecf0f1;
    color: #2c3e50;
}

li {
    list-style-type: none; 
}

.main-nav {
    padding: 20px 0;
    background-color: #c0392b;
}

h4.navbar-brand {
    padding: 0;
    font: 40px georgia, serif;
    color: #ecf0f1;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.nav-pills {
    padding-top: 15px;
}

.nav-pills li.active {
    
}

.nav-pills > li > a {
    color: #ecf0f1;
}

.nav-pills > li.active > a {
    color: #95a5a6;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {   
    background: none;
    font-size: 14px;
}


.nav-pills > li > a:hover {
    color: #95a5a6;
}

h3 {
    padding-bottom: 20px;
}

.task-type button {
	width: 100%;
	margin-bottom: 10px;
}

.modal-header .close {
    width: 25px;
}

.modal-body span {
	width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.modal-body span:first-child {
    font-size: 20px;
    font-weight: 200;
}

.list-container {
    width: 15%;
    float: left;
}


