<nav class="navbar">
	<div class="container-fluid main-nav">
		<div class="container">
			<div class="navbar-header">
				<h4 class="navbar-brand">BARECO</h4>
			</div>
			<ul class="nav navbar-right nav-pills">
				<li class="active">
					<a href="#elegir" data-toggle='tab'>Elegir Ventanilla</a>
				</li>
				<li>
					<a href="#cajasTab" data-toggle='tab'>Cajas</a>
				</li>
				<li>
					<a href="#serviciosTab" data-toggle='tab'>Plataforma de Servicio</a>
				</li>
				<li>
					<a href="#creditosTab" data-toggle='tab'>Crédito</a>
				</li>
				<li>
					<a href="#marchamoTab" data-toggle='tab'>Marchamo</a>
				</li>
				<li>
					<a href="#discapacidadTab" data-toggle='tab'>Personas con Discapacidad</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">	
    <tasks></tasks>
</div>