<div class="col-md-3 task-type">
    <h4>Seleccione un tipo de Ficha</h4>    
    <form class="well">
      <div class="form-group">
        <div class="item" *ngFor="let item of obj"> 
            <button (click)="increment(item)" (click)="onClick($event)" value="{{'C'}} {{ item['count'] ? item['count'] : item['count'] = 0}}" id="test" type="button" name="title" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cajas</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body" >
                    C {{item.count - 1}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
        </div>
        <button (click)="onClick($event)" value="Plataforma de Servicio" id="test" type="button" name="title" class="btn btn-primary">Plataforma de Servicio</button>
        <button (click)="onClick($event)" value="Crédito" id="test" name="title" class="btn btn-success" type="button">Crédito</button>
        <button (click)="onClick($event)" value="Pago de Marchamo" id="test" name="title" class="btn btn-info" type="button">Pago de Marchamo</button>
        <button (click)="onClick($event)" value="Personas con Discapacidad" id="test" name="title" class="btn btn-warning" type="button">Personas con Discapacidad</button>
      </div> 
    </form>
</div>
<div class="task-list col-md-5">
  <div class="row">
    <h4>Lista de Fichas</h4>
    <div *ngFor="let task of tasks">
        <div class="col-md-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
        </div>
        <div class="col-md-7">
            {{task.title}}    
        </div> 
        <div class="col-md-4">
            <input type="button" (click)="deleteTask(task._id)" value="Borrar" class="btn btn-danger">    
        </div>
        <br><br>
    </div>
   </div> 
</div>

<div class="col-md-2 counter">
  <h4>Fichas en Espera</h4>
  <input type="button" value="Iniciar" id="start" class="btn btn-success"/>
</div>

<div class="col-md-2">
  <h4>Fichas en Proceso</h4>
  <input type="button" value="Detener" id="stop" class="btn btn-danger"/>
  <strong>Duración:</strong> <span id="relative"></span>
</div>